{% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>index</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/input.css' %}">
	</head>
	<body>
		<form method="POST" action="/userfunc/">
			{% csrf_token %}
			<div>
				<br>
				<p>
					<h1>Enter Details</h1>
				</p>
				<div>
					<p>firstname:</p>{{form.firstname}}
				</div>
				<div>
					<p>lastname:</p>{{form.lastname}}
				</div>
				<div>
					<p>username:</p>{{form.username}}
				</div>
				<div>
					<p>email:</p>{{form.email}}
				</div>
				<div>
					<p>passwordHash:</p>{{form.passwordHash}}
				</div>
				<div>
					<br>
					<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" > Submit</button>
				</div>
			</div>
		</form>
	</body>
</html>
