{% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>login</title>
	</head>
	<style>
		.box{
			display: flex;
			align-items: center;
			margin: 380px auto;
			justify-content: center;
			background-color: white;
			border-radius: 40px;
			height: 340px;
			width: 30%;
			border: 1px solid red;
		}
		.text{
			display: block;
			position: absolute;
		}
		.username{
			display: relative;
			margin-bottom: 70px;
		}
		.password{
			margin-bottom: 40px;
		}
		#btnID{
			width: 200px;
		}

	</style>
	<body class="main" style="background-color: #93c5fd;">
		<div class="box">
			<div class="text">
				<div class="username">
					<label class="user" for="">Username:</label>
					<input type="text" id="" name="">
				</div>
				<div class="password">
					<label for="">Password:</label>
					<input type="text" >
				</div>
				<button onclick="location.href = '../registration/'"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" id="btnID"> login</button>
			</div>
		</div>
	</body>
</html>
